header{
    nav{
        background-color: nth($paleta-colores, 2);
        .nav-link{
            color: nth($paleta-colores, 1) !important;
            font-size: 17px;
            font-weight: 500;
        }
    }
}

