/**-----------------------------MAIN SECTION-----------------------**/

main {
    .carrousel-main {
        #slider {
            @keyframes slider {
                0% {
                    left: 0;
                }

                20% {
                    left: 0;
                }

                25% {
                    left: -100%;
                }

                45% {
                    left: -100%;
                }

                50% {
                    left: -200%;
                }

                70% {
                    left: -200%;
                }

                75% {
                    left: -300%;
                }

                95% {
                    left: -300%;
                }

                100% {
                    left: -400%;
                }
            }

            overflow: hidden;

            figure {
                position: relative;
                width: 500%;
                margin: 0;
                left: 0;
                animation: 20s slider infinite;

                a {
                    img {
                        float: left;
                        width: 20%;
                    }
                }
            }
        }
    }
}

/**-----------------------------MOUSE INDEX-----------------------**/

.mouse-main1 {
    .mouse-index {
        figure {
            position: relative;
            width: 100%;
            margin: 0;
            left: 0;

            a {
                img {
                    width: 100%;
                }
            }
        }
    }
}

/**-----------------------------ACCESORIOS INDEX-----------------------**/


.accesorios-main1 {
    .accesorios-index {
        figure {
            position: relative;
            width: 100%;
            margin: 0;
            left: 0;

            a {
                img {
                    width: 100%;
                }
            }
        }
    }
}

/**-----------------------------ULTIMAS NOTICIAS INDEX-----------------------**/

.latest-news-index {
    a {
        margin: 25px;
        text-decoration: none;
        color: nth($paleta-colores, 2);

        h1 {
            color: nth($paleta-colores, 1);
            text-align: center;
            font-size: nth($font-size, 3);
            font-weight: 300;
        }
    }

    .latest-news-container {
        @include flex (flex, center, center);
        flex-wrap: wrap;

        .card {
            margin: 50px;
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}


/**-----------------------------PAGINA PRODUCTOS-----------------------**/


main {
    .productos-wrap {
        padding: 45px;
        overflow-y: hidden;

        h2 {
            font-size: 1.5rem;
            letter-spacing: 6px;
            font-weight: bold;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 60px;
            color: nth($paleta-colores, 3);
        }

        .productos {
            @include flex (flex, space-evenly, center);
            flex-wrap: wrap;
            padding-bottom: 40px;

            div {
                width: 400px;
                height: 500px;
                text-align: center;
                border: 2px solid nth($paleta-colores, 2);

                a {
                    text-decoration: none;
                    color: nth($paleta-colores, 1);

                    img {
                        transition-duration: 0.5s;

                        &:hover {
                            transform: scale(1.05);
                            z-index: 1;
                        }
                    }

                    p {
                        padding-top: 14px;
                        font-size: nth($font-size, 2);
                        font-weight: 800;
                        color: nth($paleta-colores, 3);
                    }

                    button {
                        transition: all ease 0.3s;
                        font-size: 1rem;
                        border-width: 1px;
                        height: 40px;
                        padding: 0 20px;
                        border-style: solid;
                        border-radius: 30px;

                        &:hover {
                            color: nth($paleta-colores, 2);
                            background-color: rgb(46, 46, 46);
                        }
                    }
                }
            }
        }
    }
}


/**-----------------------------PAGINA NEWS-----------------------**/

.news-header {
    min-height: 50vh;
    width: 100%;
    @include flex (flex, flex-start, center);
    background-image: url(../img/news-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.363);
    }

    h1 {
        z-index: 1;
        font-size: nth($font-size, 3);
        color: nth($paleta-colores, 2);
        font-weight: 800;
        padding-left: 18rem
    }
}

.news-section {
    @include flex(flex, center, center);
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    .news-encabezado {
        @include flex(flex, center, center);
        flex-direction: column;

        h2 {
            font-size: nth($font-size, 3);
            color: nth($paleta-colores, 3);
            font-weight: 400;
            padding: 35px 0;
            text-align: center
        }
    }

    .news-container {
        @include flex(flex, center, center);
        margin: 20px, 0px;
        flex-wrap: wrap;

        .news-box {
            width: 600px;
            background-color: nth($paleta-colores, 2);
            border: 1px solid #ececec;
            margin: 20px;
            transition-duration: 1s;
            overflow-y: hidden;

            &:hover {
                transform: scale(1.05);
                z-index: 1;
            }


            .news-img {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .news-texto {
                padding: 30px;
                display: flex;
                flex-direction: column;

                span {
                    color: nth($paleta-colores, 3);
                    font-size: 15px;
                }

                .news-titulo {
                    font-size: 20px;
                    font-weight: 500;
                    color: nth($paleta-colores, 1);
                    text-decoration: none;

                    &:hover {
                        color: nth($paleta-colores, 3);
                        transition: all ease 0.3s;
                    }
                }

                p {
                    color: rgb(88, 88, 88);
                    font-size: 16px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 20px 0px;
                }

                .leer-btn {
                    text-decoration: none;
                    text-align: center;
                    width: 120px;
                    font-size: 1rem;
                    border-width: 1px;
                    height: 28px;
                    padding: 0 20px;
                    border-style: solid;
                    border-radius: 30px;
                    color: nth($paleta-colores, 3);

                    &:hover {
                        color: nth($paleta-colores, 2);
                        background-color: rgb(46, 46, 46);
                        transition: all ease 0.3s;
                    }
                }
            }
        }
    }
}


/**-----------------------------Contacto page-----------------------**/

.body-contacto {
    min-height: 100vh;
    width: 100%;
    @include flex (flex, center, center);
    background-image: url(../img/contacto-bck.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.body-contacto::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.section-contacto {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-contacto {
    padding-top: 30px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.section-header {
    margin-bottom: 50px;
    text-align: center;
}

.section-header h1 {
    color: nth($paleta-colores, 2);
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
}

.section-header p {
    color: nth($paleta-colores, 2);
}

.row {
    @include flex (flex, space-between, center);
    flex-wrap: wrap;
}

.contact-info {
    width: 50%;
}

.contact-info-item {
    display: flex;
    margin-bottom: 30px;
}

.contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: nth($paleta-colores, 2);
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
}

.contact-info-content {
    margin-left: 20px;
}

.contact-info-content h4 {
    color: nth($paleta-colores, 2);
    font-size: 1.4em;
    margin-bottom: 5px;
}

.contact-info-content p {
    color: nth($paleta-colores, 2);
    font-size: 1em;
}

.contact-form {
    background-color: nth($paleta-colores, 2);
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.contact-form h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box textarea:focus~span {
    color: #e91e63;
    font-size: nth($font-size, 1);
    transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
    width: 100%;
    background: #555555;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #000000;
    transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
    background: #FFF;
    color: nth($paleta-colores, 1);
}

/**-----------------------------CONOCENOS page-----------------------**/
main{
    section{
        .container-conocenos{
            width: 100%;
            min-height: 100vh;
            background-color: nth($paleta-colores, 2);
            .titulo-conocenos{
                width: 100%;
                @include flex (flex, center, center);
                text-transform: uppercase;
                font-size: nth($font-size, 3);
                color: nth($paleta-colores, 3);
                letter-spacing: 1.5px;
                padding-top: 80px;
            h1{
                &::after{
                    content: "";
                height: 6px;
                width: 50px;
                background-color: nth($paleta-colores,3);
                border-radius: 6px;
                position: relative;
                display: block;
                margin: auto;
                    }
                }
            }
        }

        .contenido{
            width: 85%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap:40px;
            justify-items: center;
            align-items: center;
            margin: 30px auto;
            .articulo{
                box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
                background-color: nth($paleta-colores, 2);
                padding: 25px 25px;

                h2{
                    color: nth($paleta-colores, 3);
                    font-size: nth($font-size, 3);
                    line-height: 1.5;
                    letter-spacing: 1px;
                }
                p{
                    margin-top: 30px;
                    font-size: 19px;
                    line-height: 1.5;
                    color: nth($paleta-colores, 3);
                }
                .boton-leer-mas{
                    font-size: nth($font-size, 2);
                    text-decoration: none;
                    display: inline-block;
                    padding: 12px 35px;
                    background-color: nth($paleta-colores,2);
                    border-radius: 25px;
                    color: nth($paleta-colores, 3);
                    border: 1px solid nth($paleta-colores, 3);
                    letter-spacing: 1.5px;
                    margin-top: 40px;
                    transition-duration: 0.5s;
                    &:hover{
                        background-color: nth($paleta-colores, 3);
                        color: nth($paleta-colores,2);
                    }
                }
                .image-section{
                    width: 100%;
                    margin: auto;
                    img{
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}