@media (max-width: 991px) {


    .row {
        flex-direction: column;
    }

    .contact-info {
        margin-bottom: 40px;
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }
}


@media (max-width: 950px) {
    .home {
        grid-template-columns: 1fr;
    }

    .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .list {
        grid-template-columns: 1fr 5fr;
    }

    .card {
        margin-bottom: 40px;
    }
}

@media(max-width: 768px){
    .about-us{
        flex-direction: column;
    }
    .about-us img{
        flex: 0 100%;
        max-width: 100%;
    }
    .content{
        flex: 0 100%;
        max-width: 100%;
        padding: 15px;
    }
}

@media (max-width: 650px) {
    .lists {
        grid-template-columns: 1fr;
    }
}

@media (max-width:450px){
    footer{
        flex-direction: column;
    }

    .footer-left{
        display: flex;
        justify-content: center;
        gap: 26px;
    }

    .footer-right{
        display: block;
        gap: -40px;
    }
}