
$color-primario: black;
$color-secundario: white;
$color-terciario: rgb(69, 73, 85);
$color-cuarternario: rgb(216, 217, 218);

//* LISTAS
$paleta-colores:
black
white   
rgb(69, 73, 85)
rgb(216, 217, 218);


$font-size:
12px,
24px,
36px,
48px,
60px;

// MIXINS

@mixin flex ($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}